body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.search-container {
    text-align: center;
    margin-bottom: 30px;
}

#searchInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.book-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.book-card a {
    display: block;
    text-decoration: none;
}

.book-card img {
    max-width: 150px;
    max-height: 200px;
    width: auto;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: transform 0.2s;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.book-card img:hover {
    transform: scale(1.05);
}

.book-card h3 {
    font-size: 16px;
    color: #333;
    margin: 0;
}
